<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style-WIP.css') }}">
<html>
    <head>
        <meta charset="utf-8" />
        <title>Maxime Jobard</title>
    </head>
    <body>
        <!-- <img class="main-background" src="/static/images/datacenter.webp"/> -->
        <img class="main-pic" src="/static/images/moi-chantier-trans-light.png" alt="C moa :)" />
        

        <div id="container">
            <div id="navi">a</div>
            <div id="scroll-container">
                <div id="scroll-text">This is scrolling text.<div>
            </div>
        </div>
    </body>
</html>